@model University.BL.Models.StuffVM
@inject University.BL.Interface.ITracksRep tracks



@{
    ViewBag.Title = SharedLocalizer["CreateStuff"];
}

 @section BootstrapSelect {
        <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    }
<center class="block-header">
      <h2>@SharedLocalizer["AddStuff"]</h2>
</center>
<br />
<br />

<a class="btn btn-primary" asp-controller="Stuff" asp-action="index"> Back To List</a>


<br />
<br />

<form class="form-group" asp-controller="Stuff" asp-action="Create">
    <label asp-for="Name">Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"class="text-danger"></span>
    <br />
    <br />

    <label asp-for="Salary">Salary</label>
    <input type="text" class="form-control" asp-for="Salary" />
   <span asp-validation-for="Salary" class="text-danger"></span>
    <br />

    <label asp-for="Adress">Address</label>
    <input type="text" class="form-control" required asp-for="Adress" />
   <span asp-validation-for="Adress" class="text-danger"></span>
    <br />

    <label asp-for="HareDate">Hare Date</label>
    <input type="date" class="form-control" asp-for="HareDate" />
   <span asp-validation-for="HareDate" class="text-danger"></span>
    <br />

    <label asp-for="Email">Email</label>
    <input type="text" class="form-control" asp-for="Email" />
   <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    <label asp-for="Notes">Notes</label>
    <textarea class="form-control" asp-for="Notes" rows="4"></textarea>
   <span asp-validation-for="Notes" class="text-danger"></span>
   <br />
       <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" checked="">
        <label asp-for="IsActive">Is Active</label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>


    <br />
    <br />

  


    <select asp-for="CollegeId" asp-items="(SelectList)ViewBag.CollegeList">
        <option>Choose College</option>
    </select>
        <br />
@*
          <select id="trackList" >
        <option>Choose Track</option>
        @foreach (var item in tracks.GetAll())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>


     <select asp-for="PostionId">
        <option>Choose Postion</option>
    </select>

    
    <br />*@
    <br />

    <input type="submit" value="Save" class="btn btn-info" />

</form>

@section Validation{
     <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
     <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


@*     <script>
         $(function (){

             $("#trackList").change(function(){

                 var TracksId = $("#trackList option:selected").val();

                 $("#PostionList").empty();
                 $("#PostionList").append("<option>Choose Postion </option>")

                 $.ajax({

                     type="Post",
                     url : "/Stuff/GetPostionDataByTracksId",
                     data:{trkId :TracksId},
                     success:function(res) {
                         console.log(res);
                         $.each(res, function(i,e) {
                         
                             $("#PostionList").append("<option value='"+e.Id+"'>"+e.Name+"</option>");


                         });
                     }

                 });

             }));


         }));
*@         
     
     
@*     </script>
*@

}