@model University.BL.Models.CollegeVM


@{
    ViewBag.Title = "Edit College";
}

<center class="block-header">
      <h2>Edit College</h2>
</center>
<br />
<br />

<a class="btn btn-primary" asp-controller="College" asp-action="index"> Back To List</a>


<br />
<br />

<form class="form-group" asp-controller="College" asp-action="Edit">


    <input type="hidden" class="form-control" asp-for="Id" />
    <br />
    <br />


    <label asp-for="Name">College Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"class="text-denger"></span>
    <br />
    <br />

    <label asp-for="Code">College Code</label>
    <input type="text" class="form-control" asp-for="Code" />
   <span class="text-denger" asp-validation-for="Code" ></span>

    <br />
    <br />

     <label asp-for="Expenses">College Expenses</label>
    <input type="text" class="form-control" asp-for="Expenses" />
   <span asp-validation-for="Expenses" class="text-denger"></span>

    <br />
    <br />
    
    <input type="submit" value="Edit" class="btn btn-info" />

</form>


@section Validation{
     <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
     <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}